body { 
    width: 100%;
}
.client {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sysDataTable {
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}